@page "/sesion01"

<h3>Sesion01</h3>

<ul class="list-group">
	<Item Texto="Cambiar formato de la barra superior"></Item>
	<Item Texto="Cambiar formato del menú principal "></Item>
	<Item Texto="Crear el primer componente "></Item>
	<Item Texto="Crear la primera página blazor web assembly"></Item>
</ul>
<Sesion NumeroSesion="1"></Sesion>

@code {
}